body {
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	width: 350px;
	height: 450px;
}

body:first-child {
	margin-top: 4px;
}

div {
	margin: auto;
	text-align: center;
	padding: 1px 3px;
	font-family: Helvetica;
	font-size: 1.0em;
	width: 380px;
	margin-top: 1px;
}

